<h1>Contact</h1>
<h2>Dom De Re</h2>

<ul>
    <li>
        <i class="fa fa-twitter" aria-hidden="true"/> <a href="$domdere-twitter-url$"><strong>$domdere-twitter-handle$</strong></a>
    </li>
    <li>
        <i class="fa fa-github" aria-hidden="true"/> <a href="$domdere-github-url$"><strong>$domdere-github-handle$</strong></a>
    </li>
    <li>
        <i class="fa fa-rss-square" aria-hidden="true"/> <a href="$domdere-rss-url$"><strong>$domdere-rss-handle$</strong></a>
          <ul>
            <li>Each category has its own sub-feed, just in case you don't want to hear my opinions on movies I see and what not.</li>
            <li>Sub feed urls look like this: <code>http://blog.forgetfulfunctor.com/feeds/[category].feed</code></li>
          <ul>
    </li>
</ul>
